# {{ansible_managed}}
{% for routing in caddy_routings %}
{{routing.domains|join(', ')}} {
  proxy / {{routing.target}} {
    websocket
    transparent
  }
  gzip
  {% if routing.letsencrypt %}
    tls "admin@pludoni.de"
  {% elif routing.ssl_key is defined %}
    tls {{routing.ssl_crt}} {{routing.ssl_key}}
  {% else %}
    tls self_signed
  {% endif %}
  log /var/log/caddy/www.empfehlungsbund.de/access.log
  errors /var/log/caddy/www.empfehlungsbund.de/error.log
  timeouts {
    read   {{routing.read_timeout|default('1m')}}
    header {{routing.header_timeout|default('1m')}}
    write  {{routing.write_timeout|default('1m')}}
    idle   {{routing.idle_timeout|default('1m')}}
  }
  {% if block_ips is defined %}
  ipfilter / {
    rule block
    ip {{block_ips|join(' ')}}
  }
  {% endif %}
  {% if routing.custom_caddy is defined %}
  {{routing.custom_caddy}}
  {% endif %}
}
{% endfor %}


# vim: ft=caddyfile.jinja2
